.flex-container {
    display: -webkit-flex;
    display: flex;
    min-height:100%;
    min-width: 60%;
    width: 60%;
    height: auto;
    flex-direction: column;
    align-items:center;
    margin: 0 auto;
}

.flex-container .name-container {
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    clear:both;
    justify-content:center;
    align-items:center;
}

.flex-container .count-container {
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    clear:both;
    width: 100%;
    align-items:center;
    justify-content:center;
}

.count-friends {
    display:flex;
    width: 100px;
    height: 100px;
    margin: 10px;
    align-items:center;
    justify-content:center;
    margin-right:auto;
}

.count-posts {
    display:flex;
    width: 100px;
    height: 100px;
    margin: 10px;
    align-items:center;
    justify-content:center;
    margin-left:auto;
}


.count-detail {
    display:flex;
    align-items:center;
    justify-content:center;
}

.profile {
    margin: 0 auto;
    padding: 0;

    display: flex;
    align-items:center;
    justify-content:center;
    margin: 0 auto;
    width: 100%;
    height: 100%;
}

h1 {
    font-size: 4vw;
    font-weight: bold;
    clear:both;
}

.status-container {
    display: flex;
    align-items:center;
    justify-content:center;
    flex-direction: column;
    width:100%;
    height:100%;
}

.status-container .status{
    display:flex;
    justify-content:center;
    margin-right:auto;
}

.status-container .status-date {
    display:flex;
    margin-left:auto;
}

.status-container .latest-post-text {
    display:flex;
    margin-right:auto;
}

.count-friends, .count-posts{
    font-size: 20px;
    font-weight: bold;
}

.latest-post-text {
    font-size: 2vw;
    font-weight: bold;
    margin: 20px;
    margin-left: 0;
}

.status {
    font-size: 1vw;
}

.status-date {
    font-size: 0.7vw;
    font-style: italic;
}
