{% extends "layout/base.html" %}
{% load static %}

{% block title %}
    Profile - Ling In
{% endblock %}

{% block additional_includes %}
    <link rel="stylesheet" type="text/css" href="{% static "css/app_profile.css" %}"/>
{% endblock %}

{% block content %}

<div class="left_aligned">
    <h3>Profile</h3>
</div>
<div class="center_aligned">
    <img src="{% static 'profile_picture.png' %}" alt="Profile Picture" style="width:45%">
    <h4>{{ user_name }}</h4>
    <table align="center">
        {% for bio in bio_dict %}
         <tr>
             <td class="subject">{{ bio.subject }}</td>
             <td class="value">{{ bio.value }}</td>
        </tr>
        {% endfor %}
    </table>
    <br>
    <table>
        <tr align="center" style="text-align: center;">
            <td class="expertise" colspan="{{ expertises|length }}">Expertise</td>
        </tr>
        <tr>
            {% for expertise in expertises %}
                <td class="expertise_value">{{ expertise }}</td>
            {% endfor %}
        </tr>
    </table>
    <br><br>
    <br><br>
</div>

{% endblock %}