<div class="footer-text">
    <p align="center">
        &copy; Made with &#9829; by Kelompok 5 PPW A.
        <a href="{% url 'app_statistics:change_background' %}">Feeling bored with your background color?</a>
    </p>
</div>