<!-- Fixed navbar -->
{% load staticfiles %}
{% load static %}
<nav class="navbar navbar-default navbar-static-top" style="background-color: aliceblue">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
        <a class="navbar-brand" href="/"><img style="width:4em" src="{% static 'logo.png'%}"></a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
          <li><a href="{% url 'app_profile:index' %}">Profile</a></li>
          <li><a href="{% url 'app_status:index' %}">Status</a></li>
          <li><a href="{% url 'app_friends:index' %}">Friends</a></li>
          <li><a href="{% url 'app_statistics:index' %}">Statistics</a></li>
      </ul>
    </div>
  </div>
</nav>