{% extends "layout/base.html" %}
{% load static %}

{% block title %}
    Friends - Ling In
{% endblock %}

{% block additional_includes %}
    <link href="{% static 'css/app_friends.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <section name="form" id="form">
        <div class="container">
            <form id="form" method="POST" action="{% url 'app_friends:add_friends' %}">
                <h2>Add Friends</h2>
                {% csrf_token %}
                {{ friends_form.as_p }}
                {% if is_error %}
                    <div class="alert alert-danger">
                        <b>Name must not be empty and URL must be accessible.</b>
                    </div>
                {% endif %}
                <input id="submit" type="submit" class="button" value="Submit">
                <br>
            </form>
        </div>
    </section>
    <section class ="friends" name="friends" id="friends-list">
        <div class="container">
            <h2 class="my-list-title">My Friends</h2>
            <div class="flex">
                {% for data in friends %}
                    <div class="flex-item">
                        <div class="friends-list">
                            <div class = "prof_photos">
                                <img src="{% static 'friend_profpict.png' %}" alt="image" border="0" style="width:60px;height:60px;">
                            </div>
                            <div class="friends-list-name">
                                {{data.name}}
                            </div>
                            <div class="friends-list-date-added">
                                {{data.created_date}}
                            </div>
                            <div class="friends-list-url">
                                <a href= {{data.url}}>{{data.url}}</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}  
     
    

   