{% extends "templates/layout/base.html" %}

{% block content %}

<section name='form' id= 'input-list'>
    <br />
    <form id = 'form' method = 'GET' action='{% url 'app_friends:index' %}'>
        <div class='alert alert-danger text-center'>
            <strong> OOPS!</strong> URL yang kamu masukan tidak valid.
            </div>
            <button id='submit' type='submit' class='btn btn-default'> Back to Add add_friends
            </button>
        </form>

</section>
{% endblock %}