h2 {
    margin-left:70px;
    margin-bottom: 30px;
}

form{
    margin-left:70px;
}

.person{
    margin-left:70px;
    margin-top:40px;
    margin-bottom:10px;
}

.prof_photos{
    float : left;
}

.status-created-date{
    color: grey;
}

#list_status .status{
    margin-left:60px;
}

.status{
    margin-left: 60px;
}
