body{
    box-sizing: border-box;
    position: relative;
    min-height: 100vh;
    width: auto;
    margin: 0;
    padding: 0;
    padding-bottom: 10px;
}


footer {
    position: absolute;
    width: 100%;
    bottom: -60px;
    height: 60px;
    background-color: aliceblue;
    display:flex;
    justify-content:center;
    align-items:center;
}


.content {
    height: 100%;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-bottom: 10px;
}

* {
    font-family: 'Open Sans', sans-serif;
}