{% extends "layout/base.html" %}
{% load static %}

{% block title %}
    Status - Ling In
{% endblock %}

{% block additional_includes %}
    <link href="{% static 'css/app_status.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <section name="form">
        <h2>Update Status</h2>
        <form id="form" method="POST" action="{% url 'app_status:add_status' %}">
            {% csrf_token %}
            {{ status_form }}
            <br>
            <button type="submit" class="btn btn-default" value="Post">Post</button>
        </form>
    </section>
    <section name = "list_status" id="list_status">
            {% for status in status %}
                <div class = "person">
                    <div class ="profile">
                        <div class = "prof_photos">
                            <img src="{% static 'profile_picture.png' %}" style="border-radius:100%" alt="Profile pictures" align="middle" height="42" width="50">
                        </div>
                        <div class = 'name'>
                                <p><b>{{ profile_name }}</b></p>
                        </div>
                    </div>
                        <div class = "status">
                            <div class="status-status">
                                {{ status.status }}
                            </div>
                            <div class="status-created-date">
                                {{ status.created_date }}
                            </div>
                        </div>
                </div>
            {% endfor %}
    </section>
{% endblock %}

