{% extends 'layout/base.html' %}
{% load staticfiles %}
{% load static %}

{% block title %}
    Change Background Color - Ling In
{% endblock %}

{% block additional_includes %}
    <link href="{% static 'css/app_statistics.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

    <div class="flex-container" style="margin-top:25%">
        <form id="form" method="POST" action="{% url 'app_statistics:change_background' %}">
            <h1 align="center">Change background color</h1>
            <h4 align="center">This is not supported in Internet Explorer 11 and earlier versions or Safari 9.1 and earlier versions.</h4>
            {% csrf_token %}
            <div class="profile">
                <input type="color" name="bg-color" value="#DEEAEA">
                <input type="submit" value="CHANGE ME COLOR">
            </div>
        </form>
    </div>
{% endblock %}