{% extends 'layout/base.html' %}
{% load staticfiles %}
{% load static %}

{% block title %}
    Statistics - Ling In
{% endblock %}

{% block additional_includes %}
    <link href="{% static 'css/app_statistics.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

    <div class="flex-container">
        <div class="profile">
            <h1>
                <img src="{% static 'profile_picture.png' %}" style="width:4em">
                {{ profile_name }}
            </h1>
        </div>
        <div class="count-container">
            <div class="count-friends">
                {{ friend_count }} Friends
            </div>
            <div class="count-posts">
                {{ post_count }} Posts
            </div>
        </div>
        <div class="status-container">
             {% if post_count > 0%}
                 <div class="latest-post-text">
                     Latest post
                 </div>
                 <div class="status">{{ latest_post.status }}</div>
                 <div class="status-date">{{ latest_post.created_date }}</div>
            {% endif %}
        </div>
    </div>
{% endblock %}