{% load staticfiles %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Tangerine" rel="stylesheet">
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="{% static 'css/tugas.css' %}" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"><</script>

    {% block additional_includes %}

    {% endblock %}
    <title>
        {% block title %} Ling In {% endblock %}
    </title>
</head>
<body>
    <header>
        {% block header %}
            {% include 'partials/header.html' %}
        {% endblock %}
    </header>
    <div class="content">
        {% block content %}
        {% endblock %}
    </div>
    <footer>
        {% block footer %}
            {% include 'partials/footer.html' %}
        {% endblock %}
    </footer>


    <script type="application/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>

<script type="application/javascript">
    $(document).ready(function() {
        if ($.cookie("bg-color"))
            document.body.style.backgroundColor = $.cookie("bg-color");
        else
            document.body.style.backgroundColor = "#DEEAEA";
    })
</script>

</html>