table{
  width: 100%;
  display: flex;
  justify-content: center;
  font-family: 'Boogaloo', cursive;
}

tr {
    text-align: left;
    padding: 3em;
}

td {
  padding: 1em;
}


h3 {
  color: #000000;
  font-size: 1.5em;
  margin: 2em;
  top: 50%;
  left: 50%;
  font-weight: bolder;
}

img{
  border-radius: 100%;
  width: 5vw;
}

h4{
  color: #000000;
  font-size: 3em;
  text-align: center;
  font-weight: bolder;
}

.subject{
    font-size: 20px;
    color: #000000;
    font-family: 'Boogaloo', cursive;
}
.value{
    font-size: 20px;
    color: #000000;
    font-family: 'Boogaloo', cursive;
}

.expertise{
  font-size: 20px;
  color: #000000;
  font-family: 'Boogaloo', cursive;
}

.expertise_value{
  font-size: 20px;
  color: #000000;
  font-family: 'Boogaloo', cursive;
  border-left: 6px lightgrey;
  background-color: white;
  border-radius: 100%;
}

.left_aligned {
  position: absolute;
  top: 15%;
  left: 5%;
  font-size: 2em;
  -ms-transform: translateX(-30%) translateY(-50%);
  -webkit-transform: translate(-30%,-50%);
  transform: translate(-30%,-50%);
  font-family:'Fredoka One', cursive;
}
.center_aligned {
  position:relative;
  width: 100%;
  margin-top: 15em;
  font-family: 'Open Sans', sans-serif;
}

.center_aligned img{
  display: block;
  margin: auto;
  overflow: hidden;
  max-width: 15em;
  max-height: 15em;
}